* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('Desert.jpg');
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh

}
h1{font-size: 30px;
    color: #faf8f5;
    text-align: center;
    margin: 20px;

}
.card{
    width: 350px;
    background: rgba(0, 0, 0, 0.726);
    border-radius: 10% 0px;
    box-shadow: 1px 2px 10px black, 2px 4px 20px black;
    padding: 50px 20px;
}
input{
    width: 300px;
    height: 46px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #faf8f5;
}

.input-fild{
    position: relative;
    margin-bottom: 20px;
}

label{
     position: absolute;
   top:0;
   left: 0;
   color:#faf8f5;
   transform:translateY( 18px)
}

input:focus{
    border-bottom: 2px solid rgb(10, 140, 247);
    box-shadow: 2px 0% 0% rgb(10, 140, 247);
}

input:focus + label{
    transform:translateY(-14px);
    transition: .30s; scale:80%;
    color:rgb(10, 140, 247) ;
}

input:not(:placeholder-shown) + label{
    transform: translateY(-14px);
    color:rgb(10, 140, 247) ;
   
}

input:not(:placeholder-shown){

    border-bottom: 2px solid rgb(10, 140, 247);
}
    

input::placeholder{
    color: transparent;
}

button{
    padding: 20px 50px;
    margin: 20px;
    background: transparent;
    border-radius: 20px;

}

button:hover{ background:rgb(10, 140, 247);
}
.but{
    text-align: center;
}